Input: pandas data frame

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_in = pd.read_csv("data/KS_train_data.csv.gz")

In [4]:
df_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   project_id                100000 non-null  object
 1   backers_count             100000 non-null  int64
 2   blurb                     99998 non-null   object
 3   category                  100000 non-null  object
 4   converted_pledged_amount  100000 non-null  int64
 5   country                   99997 non-null   object
 6   created_at                100000 non-null  int64
 7   currency                  100000 non-null  object
 8   deadline                  100000 non-null  int64
 9   fx_rate                   100000 non-null  float64
 10  goal                      100000 non-null  float64
 11  launched_at               100000 non-null  int64
 12  name                      99999 non-null   object
 13  pledged                   100000 non-null  float64
 14  staff_pick                100000 non-null  bool
 15  usd_pledged               100000 non-null  float64
 16  location                  100000 non-null  object
 17  funded                    100000 non-null  bool
 18  subcategory               100000 non-null  object
 19  project_url               100000 non-null  object
 20  reward_url                100000 non-null  object
dtypes: bool(2), float64(4), int64(5), object(10)
memory usage: 14.7+ MB

In [5]:
from sklearn.datasets import make_classification

In [ ]:
X, y  = make_classification(n_samples=1000, n_features=20, n_informative=2, n_redundant=2, )

In [3]:
from sklearn.datasets import load_breast_cancer
d = load_breast_cancer()
y = d['target']
X = pd.DataFrame(d['data'], columns=d['feature_names'])

In [4]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mean radius              569 non-null    float64
 1   mean texture             569 non-null    float64
 2   mean perimeter           569 non-null    float64
 3   mean area                569 non-null    float64
 4   mean smoothness          569 non-null    float64
 5   mean compactness         569 non-null    float64
 6   mean concavity           569 non-null    float64
 7   mean concave points      569 non-null    float64
 8   mean symmetry            569 non-null    float64
 9   mean fractal dimension   569 non-null    float64
 10  radius error             569 non-null    float64
 11  texture error            569 non-null    float64
 12  perimeter error          569 non-null    float64
 13  area error               569 non-null    float64
 14  smoothness error         569 non-null    float64
 15  compactness error        569 non-null    float64
 16  concavity error          569 non-null    float64
 17  concave points error     569 non-null    float64
 18  symmetry error           569 non-null    float64
 19  fractal dimension error  569 non-null    float64
 20  worst radius             569 non-null    float64
 21  worst texture            569 non-null    float64
 22  worst perimeter          569 non-null    float64
 23  worst area               569 non-null    float64
 24  worst smoothness         569 non-null    float64
 25  worst compactness        569 non-null    float64
 26  worst concavity          569 non-null    float64
 27  worst concave points     569 non-null    float64
 28  worst symmetry           569 non-null    float64
 29  worst fractal dimension  569 non-null    float64
dtypes: float64(30)
memory usage: 133.5 KB

In [6]:
frac = .3
rows = X.shape[0]
np.random.seed(1234)
mod_ind = np.random.random_integers(0,rows, size=int(rows*frac))
#X.iloc(mod_ind)
mod_ind

/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: This function is deprecated. Please call randint(0, 569 + 1) instead
  after removing the cwd from sys.path.

array([294,  53, 204, 372, 279, 233, 154,  30, 158, 374, 442, 120, 476,
       325, 336, 383, 246, 510, 431, 562,  76, 293, 506, 195, 139, 336,
         3, 258, 275, 459, 371, 465,  14, 243, 455, 490,  81, 116, 197,
        84,  45, 528,  41, 440, 236,  86, 303,  18, 482, 365, 135, 559,
       244, 374, 546,  10, 284,   4,  82, 103, 345, 311, 235, 334, 434,
       183, 340, 256, 354, 346, 417, 377, 497, 196, 119, 465, 250, 436,
       448, 469, 372, 425,   1, 142, 396,  26,  68, 150, 440, 136, 527,
       400, 130, 195,  46, 482, 439, 292, 377, 514, 471, 365, 212, 291,
       332, 117, 208, 520, 493,  75,  15, 448, 211, 313, 561, 318, 211,
       343, 233, 164, 317, 540, 257, 509, 286,  98, 568, 487, 408,  12,
       460, 520, 303, 150, 429, 531,  41, 431, 551, 295, 210, 379, 165,
        98,  87, 550, 553, 303, 547, 404, 345, 107, 283, 316, 259, 209,
       447,  32, 312,  48, 314, 350, 316, 505, 368, 178, 433, 106, 260,
         3])

In [9]:
#let's remove values in specific or random columns
columns = X.columns
col = 'mean texture'
for i in mod_ind:
    c = np.random.choice(columns)
    #print(c)
    #X.iloc[i][col] = np.NaN
    X.iloc[i][c] = np.NaN

In [11]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mean radius              557 non-null    float64
 1   mean texture             555 non-null    float64
 2   mean perimeter           555 non-null    float64
 3   mean area                556 non-null    float64
 4   mean smoothness          558 non-null    float64
 5   mean compactness         554 non-null    float64
 6   mean concavity           561 non-null    float64
 7   mean concave points      564 non-null    float64
 8   mean symmetry            557 non-null    float64
 9   mean fractal dimension   562 non-null    float64
 10  radius error             562 non-null    float64
 11  texture error            559 non-null    float64
 12  perimeter error          560 non-null    float64
 13  area error               559 non-null    float64
 14  smoothness error         550 non-null    float64
 15  compactness error        553 non-null    float64
 16  concavity error          554 non-null    float64
 17  concave points error     556 non-null    float64
 18  symmetry error           558 non-null    float64
 19  fractal dimension error  559 non-null    float64
 20  worst radius             557 non-null    float64
 21  worst texture            558 non-null    float64
 22  worst perimeter          562 non-null    float64
 23  worst area               563 non-null    float64
 24  worst smoothness         557 non-null    float64
 25  worst compactness        560 non-null    float64
 26  worst concavity          555 non-null    float64
 27  worst concave points     561 non-null    float64
 28  worst symmetry           559 non-null    float64
 29  worst fractal dimension  558 non-null    float64
dtypes: float64(30)
memory usage: 133.5 KB

In [3]:

cols = ['Attrition_Flag', 'Customer_Age', 'Gender',
        'Dependent_count', 'Education_Level', 'Marital_Status',
        'Income_Category', 'Card_Category', 'Months_on_book',
        'Total_Relationship_Count', 'Months_Inactive_12_mon',
        'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
        'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
        'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio']

churn_data = pd.read_csv('data/BankChurners.csv', usecols=cols)

label = 'Attrition_Flag'

In [5]:
from sklearn.model_selection import train_test_split

y = churn_data[label]
X = churn_data.drop(label, axis=1)

# convert to list
labels = list(y.unique())
y = y.apply(lambda x: labels.index(x))

X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, random_state=1234, test_size=0.2)

In [8]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8101 entries, 3307 to 4858
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer_Age              8101 non-null   int64
 1   Gender                    8101 non-null   object
 2   Dependent_count           8101 non-null   int64
 3   Education_Level           8101 non-null   object
 4   Marital_Status            8101 non-null   object
 5   Income_Category           8101 non-null   object
 6   Card_Category             8101 non-null   object
 7   Months_on_book            8101 non-null   int64
 8   Total_Relationship_Count  8101 non-null   int64
 9   Months_Inactive_12_mon    8101 non-null   int64
 10  Contacts_Count_12_mon     8101 non-null   int64
 11  Credit_Limit              8101 non-null   float64
 12  Total_Revolving_Bal       8101 non-null   int64
 13  Avg_Open_To_Buy           8101 non-null   float64
 14  Total_Amt_Chng_Q4_Q1      8101 non-null   float64
 15  Total_Trans_Amt           8101 non-null   int64
 16  Total_Trans_Ct            8101 non-null   int64
 17  Total_Ct_Chng_Q4_Q1       8101 non-null   float64
 18  Avg_Utilization_Ratio     8101 non-null   float64
dtypes: float64(5), int64(9), object(5)
memory usage: 1.2+ MB

In [14]:
cat_subset = X_train.select_dtypes(include=[object,'category',bool])

In [16]:
categorical_values = []
for i in range(cat_subset.shape[1]):
    categorical_values.append(
        list(cat_subset.iloc[:, i].dropna().unique()))

In [17]:
categorical_values

[['M', 'F'],
 ['High School',
  'Uneducated',
  'Post-Graduate',
  'Graduate',
  'Unknown',
  'College',
  'Doctorate'],
 ['Married', 'Single', 'Unknown', 'Divorced'],
 ['$80K - $120K',
  '$60K - $80K',
  'Less than $40K',
  '$120K +',
  '$40K - $60K',
  'Unknown'],
 ['Blue', 'Gold', 'Silver', 'Platinum']]